@import url('https://googleapis.com');
@import url('https://fonts.gstatic.com');

.container_nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 10px #ffabdc;
    width: 100%;
}

.navbar {
    background-color: #0e1a2e;
    padding: 0.8rem 1.2rem;
    border-bottom: 1px solid #ffabdc;
    box-shadow: inset 0 10px 5px -10px #ffffff;
}

.lista_links {
    display: flex;
    gap: 3rem;
    margin: 0 auto;
    justify-content: center; 
    list-style: none; 
}

.lista_links a, .pesquisar, .carteira {
  text-decoration: none;
  font-size: clamp(12px, 1.2vw, 16px);
  font-weight: bold;
  background-image: linear-gradient(90deg, #98ffdb, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
  font-family: 'Courier New';
  padding: 6px 8px;
  text-shadow: 0 0 4px rgba(171, 255, 209, 0.5);
  margin: 2px;
  letter-spacing: clamp(1px, 0.2vw, 3px);
}

.lista_links a:hover {
  background-image: linear-gradient(90deg, #ffffff, #ffffff);
  border-radius: 5px;
  box-shadow: 0 2px 4px white;
}

.lista_links li:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.pesquisar {
  font-size: clamp(13px, 1.3vw, 18px);
}

.carteira {
  border: 1px solid #ffffff44;
  background-color: #ffffff;
  border-radius: 5px;
}

.barra_pesquisa {
  background-color: #abcdff23;
  border: none;
  outline: none;
  width: clamp(100px, 15vw, 200px);
  color: white;
  text-shadow: 0 0 4px rgba(171, 255, 209, 0.5);
  border-radius: 5px;
  padding: 6px 10px;
  margin-right: 5px;
  font-size: 14px;
}

.buscar {
  background-color: #abcdff23;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Courier New';
  border: none;
  letter-spacing: 4px;
}

.buscar:hover {
  transition: all 0.5s ease;
  background-image: linear-gradient(#3dffbb, #ffabdc);
  transform: translateY(-2px); /* ele vai um pouquinho mais pra cima */
  color: white;
  box-shadow: 0 2px 4px white;
  cursor: pointer;

}

.buscar:hover:before {
  opacity: 1;
  transition: opacity 0.5s;
  box-shadow: 0 2px 4px white;
}

.buscar:active {
  background-image: linear-gradient(#2cad80, #b3799b);
}

@media (max-width: 900px) {
  .lista_links {
    flex-direction: column;
    gap: 0.8;
  }

  .lista_links li:has(form) {
    width: 100%;
    display: flex;
    justify-content: center;
    order: -1;
  }

  .barra_pesquisa {
    width: 60%;
  }

  .pesquisar {
    display: none;
  }

}