.conteudo_main {
    background-color: #1a2333;
    font-family: 'Courier New';
    border-top: 3px solid #ffabdc;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.div_sections {
    margin: auto;
    padding: 10px;
}

.preferencias {

    padding: 20px;
    width: 400px;
    transition: transform 0.1s ease, opacity 0.1s ease;
    overflow-y: auto;
    transition: all 0.6s;
    box-shadow: 30px 0 35px #000000;;
    margin: 0;
    
}

.preferencias:hover
    {
        box-shadow: 0 0 35px #98ffdb;
    }

.aberto {
    opacity: 1;
}

.fechado {
    opacity: 0;
}

.jogos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    background-color: rgba(137, 43, 226, 0.171);
    padding: 4rem;
}

.opcoes {
    background-color: rgba(0, 255, 255, 0.171);
    padding: 10px
    
}


.div_sections {
    display: flex;
    gap: 8rem;
}

.secao_titulo {
    color: aliceblue;
    letter-spacing: 8px;
    font-size: 32px;
}

.secoes {
    align-content: center;
}

.opcoes dt {
    color: #ffabdc;
    font-size: large;
    font-family: 'Courier New';
    font-style: italic;
    padding: 20px;

}

.opcoes dd {
    color: rgba(255, 255, 255, 0.397);
    font-style: italic;
    padding: 5px;
}




input[type="checkbox"] {
   appearance: none;
   width: 20px;
   height: 20px;
   border: 2px solid rgba(255, 255, 255, 0.397);
   border-radius: 3px;
   cursor: pointer;
}

input[type="checkbox"]:checked{
    border: none;
    background-color: #ffabdc;
}

input[type="checkbox"]:checked + span{
    transition: all 0.2s;
    color: #ffabdc;
    font-weight: bold;
}

.conteudo_main button{
    color: white;
    padding: 10px 20px;
    font-size: 18px;

}
